// colors
$bcolor: rgb(247, 135, 8);
$white: white;

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

    outline: none;
    &:focus{
        outline: none;
    }
}

body {
    min-height: 100vh;
    
    background: rgba(146,31,2,1);
    background: -moz-linear-gradient(-45deg, rgba(146,31,2,1) 0%, rgba(255,175,75,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(146,31,2,1)), color-stop(100%, rgba(255,175,75,1)));
    background: -webkit-linear-gradient(-45deg, rgba(146,31,2,1) 0%, rgba(255,175,75,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(146,31,2,1) 0%, rgba(255,175,75,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(146,31,2,1) 0%, rgba(255,175,75,1) 100%);
    background: linear-gradient(135deg, rgba(146,31,2,1) 0%, rgba(255,175,75,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#921f02', endColorstr='#ffaf4b', GradientType=1 );
}

.container {
    width: 400px;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

.ecc{
    label{
        border: 1px solid $bcolor;

        color: black;
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
        padding: 10px 15px;
        background-color: white;
    }
    h3.title {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    }

    form {
        height: 40px;
        display: flex;
        margin-bottom: 15px;

    }

    input, select {
        border: 1px solid $bcolor;
    }
    input:focus, select:focus {
        outline: none;
        outline-offset: 0;
    }

    #amount {
        max-width: 25%;
        padding: 0 0 0 15px;
    }

    form select {
        flex: 1;
        padding-left: 8px;
    }

    form input[type="submit"] {
        flex: 1;
        background-color: $bcolor;
        color: $white;
    }

    /* Result */

    .results {
        margin-top: 18px;
        height: 40px;
        display: flex;
    }

    #result{
        h4{
            margin-bottom: 15px;
            text-align: center;
            color: $white;
        }
    }
}




